<a href="https://colab.research.google.com/github/safamah1973/Data-Mining-2/blob/main/W1Hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fundamental Python:


*   Basic Math
*   Booleans & Variable Assignment
*   Functions
*   Strings

In [3]:
# Basic arithmetic operation

a =10
b =5
sum=a+b
difference=a-b
product=a*b
division=a/b

print("Sum:",sum)
print("Difference:",difference)
print("Product:",product)
print("Division:",division)

Sum: 15
Difference: 5
Product: 50
Division: 2.0

In [12]:
print(f"The sum of the two numbers {a},{b}is{sum}")

The sum of the two numbers 10,5is15

In [13]:
x=13//2
print(x)
y=13%2
print(y)

6
1

In [14]:
#Boolean variables and comparisons
x=10
y=5

is_greater=x >y
is_equal=x==y
is_not_equal=x!=y

print("is x greater than y?",is_greater)
print("is x equal y?",is_equal)
print("is x not equal to y?",is_not_equal)

is x greater than y? True
is x equal y? False
is x not equal to y? True

In [33]:
#Variable assignment
name="Alaa"
age=55
is_professor=True

print(f"{name}'s age is {age}.He is a Professor is {is_professor}")

Alaa's age is 55.He is a Professor is True

In [37]:
#Defining and using a function
def greet(name):
 return "Hello," + name +"!"

my_name=input("Enter your name:")
greet(my_name)

Enter your name:Alaa

'Hello,Alaa!'

In [42]:
def add_numbers(a,b):
 return a+b

a= int(input("Enter first number:"))
b= int(input("Enter second number"))

addition_value=add_numbers(a,b)
print(f"The result of addition for{a},{b}is{addition_value}")

Enter first number:2
Enter second number3
The result of addition for2,3is5

In [20]:
def add_numbers(a,b):
 return a+b

a= eval(input("Enter first number:"))
b= eval(input("Enter second number"))

addition_value=add_numbers(a,b)
print(f"The result of addition for{a},{b}is{addition_value}")

Enter first number:2.34
Enter second number5.67
The result of addition for2.34,5.67is8.01

In [24]:
#Working with strings
message = "Hello, World"
length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substring =message[7:12]

print("Original message:",message)
print("The length is:",length)
print("Upper case:",uppercase)
print("Lower case:",lowercase)
print("Part of the message is:",substring)

Original message: Hello, World
The length is: 12
Upper case: HELLO, WORLD
Lower case: hello, world
Part of the message is: World

**Some examples on the use of th input ommand in python**

In [34]:
#Basic input example
Last=input("Enter the last name,last name:")
First=input("Enter the last name, first name")

print(f"{Last},{First}")

Enter the last name,last name:Sheta
Enter the last name, first nameAlaa
Sheta,Alaa

In [35]:
#Numeric input example
age=int(input("Enter your age:"))
print("You will be",age+1,"years old next year.")

Enter your age:55
You will be 56 years old next year.

In [36]:
#Calculations with input
num1=float(input("Enter a number:"))
num2=float(input("Enter another number:"))
sum_result=num1 + num2
print("Sum:",sum_result)

Enter a number:12
Enter another number:14
Sum: 26.0

In [38]:
#String concatenation with input
city=input("Enter your city:")
country=input("Enter your country:")
location=city+","+country
print("You are in:",location)

Enter your city:New Haven
Enter your country:USA
You are in: New Haven,USA

In [41]:
#Multiple inputs
name,age=input("Enter your name and age sperated by space:").split()
print(f"my name is{name}and my age is {age}")

Enter your name and age sperated by space:Alaa 55
my name isAlaaand my age is 55